# Packages (elpa)
elpa
python-mode-6.1.3

# Completion Engines
irony
semanticdb

# Auto-Created Files
.smex-items
auto-save-list
recentf
srecode-map.el
/tests/cpp_completion/GTAGS
/tests/cpp_completion/GRTAGS
/tests/cpp_completion/GPATH
/bookmarks
/session.*
.DS_Store
/projectile-bookmarks.eld
